<div class="w-fcol h-[calc(100vh-175px)] bg-white dark:bg-dark transition-all rounded-3xl mb-[33px]" data-controller="manage-user" data-manage-user-checked-value="0">
  <%if current_user.has_role?(:super_user)%>
    <div class="pt-[29px] pb-[23px] pr-[24px] pl-[25px] jus-b-item-c">
      <div class="font-semibold text-[22px] leading-[33px] dark:text-white jus-c-item-c gap-[12px]" id="tasks-path">Evaluation<div class="ic-drop-down w-[25px] h-[25px] bg-cover -rotate-90"></div></div>
      <%= link_to evaluations_path(clas: :request), data:{turbo_stream: true}, id: 'request-btn' do %>
        <button class="w-fit px-[13px] h-[42px] rounded-lg clr-blue jus-c-item-c cursor-pointer btn-blue text-white ">
          <div class="ic-user-plus-w w-[15px] h-[15px] mr-[12px]"></div>
            View Requests
        </button>
      <% end %>
    </div>

    <div class="mb-[22px] pr-[28px] pl-[25px] jus-s-item-c h-[38px]">
      <div id="search-field" class="h-full"></div>
        <div class="flex">
          <div class="flex selection relative" id="select-options">
            <span class="h-full jus-c-item-c mr-[10px] font-medium text-[18px] dark:text-white" id="select-course">Select Course:</span>
            <button class="min-w-[128px] w-fit h-[42px] rounded-lg clr-blue px-[10px] jus-b-item-c cursor-pointer sel-blue ml-[4px] text-[15px]" data-action="click->manage-user#optionsShow click->effects#ApplyfixedPositionBottomCenterPerfect" id="selected-task-container">
              <span id="selected-task">None</span>
              <div class="ic-drop-down-w text-white h-full px-[18px]"></div>
            </button>
            <div class="w-[163px] h-fit box-shadow-sm rounded-lg bg-white dark:bg-light-dark fixed py-[6.5px] action-menu z-[1] cursor-pointer hidden fixed-menu" id="category-menu" >
              <%= render partial: 'tasks_options', collection: @courses, as: :course %>
            </div>
          </div>
      </div>
    </div>

    <div class="pl-[24px] pr-[25px] jus-c-item-c overflow-y-scroll overflow-x-scroll lg:overflow-x-hidden h-full" id="evaluation-table-container">
      <div class="relative w-[530px] h-[320px]">
        <%= image_tag 'follow.svg', class: 'absolute' %>
        <%= image_tag 'select.svg', class: 'absolute top-[150px] left-[100px]' %>
        <div class="text-[22px] font-medium absolute top-[303px] text-center w-[490px] right-0">Please select the Course First</div>
      </div>
    </div>

    <div class="h-[94px] w-full jus-b-item-c px-[25px] py-[32px] mt-auto" id="filter-pagination"></div>
    <div class="absolute w-full h-full bg-[rgba(0,0,0,0.3)] top-0 left-0 hidden z-[100]" id="edit-modal"></div>

  <% elsif current_user.has_role?(:evaluator) %>
    <%= render 'evaluator', evaluations: @evaluations %>
  <%end%>

  <div class="absolute w-full h-full bg-[rgba(0,0,0,0.3)] top-0 left-0 update hidden z-[100]" id="update">
    <%= render partial: 'shared/update_modal' %>
  </div>

  <div class='absolute w-full h-full bg-[rgba(0,0,0,0.3)] top-0 left-0 hidden z-[100]' id="detail-modal"></div>
</div>
