<%= link_to sync_path(sync.id) do %>
  <div class="flex flex-col w-[calc(100%-20px)] rounded-lg cursor-pointer p-[20px] mx-[10px] mb-[10px] dark:bg-light-dark dark:text-white dark:hover:bg-blue-700 bg-blue-200 hover:bg-blue-400">
    <div class="jus-b-item-c">
      <div class="flex text-[18px] font-normal">
        <div class="font-medium">Sync:</div>
        <div><%= sync.event.title %></div>
      </div>
    </div>
    <div class="jus-b-item-c">
      <div>
        <span><span class="font-medium">Trainee:</span><%= sync.trainees.last&.name %></span>|
        <span><span class="font-medium">Sync Taker:</span><%= sync.supervisor.name %></span>
      </div>
      <span><span class="font-medium">Time:</span><%= sync.event.start_date.strftime('%H:%M') %></span>
    </div>
  </div>
<% end %>
