<div class="pl-[24px] pr-[25px] overflow-y-scroll overflow-x-scroll lg:overflow-x-hidden" id="roles-table">
  <%= render layout: 'shared/records_table_shared', locals: {class_name: 'courses'} do %>
    <colgroup>
      <col class="w-[38px]">
      <col class="w-[216px]">
      <col class="min-w-[216px]">
      <col class="w-[100px]">
    </colgroup>
    <tr class="h-[60px] table-head">
      <th>
        <%= render partial: 'shared/custom_checkbox_all' %>
      </th>
      <th>
        <div class="flex">
          Role Name
          <div class="flex-col ml-[11px] h-full jus-c-item-c">
            <%= render partial: 'shared/sort_links', locals: {name: 'name'} %>
          </div>
        </div>
      </th>
      <th>
        Description
      </th>
      <th class="text-center">
        Users
      </th>
    </tr>
    <tr class="hidden options-row h-[60px]">
      <th class='w-[38px]'>
        <%= render partial: 'shared/custom_checkbox_all' %>
      </th>
      <th colspan="100%" class="w-fit">
        <div class="user-options hidden">
          <div class="flex font-medium text-[14px] leading-[21px] mr-[15px] jus-c-item-c dark:text-white">
            Selected: &nbsp;<span class="clr-slate dark:text-slate-300 selected-records">0</span>&nbsp;
          </div>
          <div class="w-fit h-[27px] bor-blue border-[1px] rounded-lg clr-blue cursor-not-allowed sel-white-cl mr-[15px] relative selection group dark:hover:bg-blue dark:hover:bor-blue">
            <span class="w-full jus-b-item-c h-full font-medium text-[15px] leading-[22.5px] px-[12px] dark:text-white dark:bg-inherit rounded-lg">
              <div class="w-[15px] h-[15px] mr-[10px] ic-edit"></div>
                Edit Role
            </span>
          </div>
          <div class="w-fit h-[27px] bor-blue border-[1px] rounded-lg clr-blue cursor-not-allowed sel-white-cl mr-[15px] relative selection group dark:hover:bg-blue dark:hover:bor-blue">
            <span class="w-full jus-b-item-c h-full font-medium text-[15px] leading-[22.5px] px-[12px] dark:text-white dark:bg-inherit rounded-lg">
              <div class="w-[15px] h-[15px] mr-[10px] ic-duplicate"></div>
                Duplicate
            </span>
          </div>
          <div class="w-[15px] h-[19px] ic-delete mr-[15px] bg-[length:19px] self-center cursor-pointer bulk-del" data-action="click->records-table#showModal" data-href="<%=role_path('_id')%>"></div>
        </div>
      </th>
    </tr>
    <%= render partial: 'roles_body', collection: @roles, as: :role %>
  <% end %>
</div>
